{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{{ order.get_payment_type_display }}</td>
        <td>{{ order.price }} руб.</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>
          {% if order.comment %}
            {{ order.comment }}
          {% endif %}
        </td>
        <td>
          {% if order.cooking_restaurant %}
            Готовит {{ order.cooking_restaurant }}
          {% elif order.available_restaurants %}
            <details>
              <summary>Может быть приготовлен ресторанами:</summary>
              <ul>
                {% for restaurant in order.available_restaurants %}
                  <li>{{restaurant}}
                {% endfor %}
              </ul>
            </details>
          {% else %}
            Ни один из ресторанов не могут приготовить заказ
          {% endif %}
        </td>

        <td><a href="{% url 'admin:foodcartapp_order_change' object_id=order.id %}?next={{ '/manager/orders/' |urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
